
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@300;500&display=swap');
video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


.content {
    position: fixed;
    bottom: 0;
   // background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content:space-between;
  }
.heading{
    padding-top:60px;
    padding-left:20px;
    color: #FFB703;
}
  h2{
      font-size: 60px;
      font-family: 'Fredoka One', cursive;
  }
  .cityName{
      color:#fff;
      padding-top:60px;
      padding-left:20px;

  }
  .footer{
      bottom:0;
      color: #FFB703;
      position:absolute;
  }
  .card-container{
    width:20%;
    height:287px;
    background-color:#fff;
    border-radius: 59px;
    box-shadow:0px 4px rgba(251, 133, 0, 0.99);
    justify-content: center; 
    align-items: center;
  }
  
  .card{
    padding-top:60px;
      display:flex;
      justify-content:space-between;
    //   align-items:center;
  }
 
  .card-items{
    //   background-color: #FFB703;
      align-items: center;
      justify-content: center;
     // display: grid;
  }
  .head{
      padding-top: 10%;
      padding-bottom: 15%;
      display: flex;
     justify-content: center;
    color: #023047;
  }
  .h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    
  }
.search{
    // height: 68px;
    // width: 695px;
    // left: 533px;
    // top: 267px;
    
    // padding: 10px;
    // border-radius: 177px;    
    // background-color:#FFB703;
    box-sizing: border-box;

    // position: absolute;
    // width: 695px;
    // height: 68px;
    // left: 533px;
    // top: 267px;
    text-align: center;
    color: #fff;
    font-size:x-large;
    background: #FFB703;
    border-radius: 177px;
}

.center-wrapper{
    display: flex;
    flex-direction: row;
   // max-width: 100%;
}

.seacrh-wrapp {
    display: flex;
    flex-direction: row;
    

    .wrapp-one {
        
        color:#fff;
        padding-top:60px;
        padding-left:20px;
    }

    .in {
       
        box-sizing: border-box;

        position: absolute;
        width: 695px;
        height: 68px;
        left: 533px;
        top: 267px;
        text-align: center;
        color: #fff;
        font-size:x-large;
        background: #FFB703;
        border-radius: 177px;
    }
}
@media only screen and (max-width: 600px) {
    .center-wrapper{
        //display:block;
       flex-direction: column;
        // background-color:#fff;
    }
     
  }
  @media only screen and (min-width: 1223px) {
    .search{
        box-sizing: border-box;

        position: absolute;
        width: 695px;
        height: 68px;
        left: 533px;
        top: 267px;
        text-align: center;
        color: #fff;
        font-size:x-large;
        background: #FFB703;
        border-radius: 177px;
    }
     
  }
.image{
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
    
}
.temp{
    color:#023047;   
    //padding-top: 10%; 
    display: flex;
    justify-content: center;

}
h4{
    color:#023047;    
    font-size: 40px;
    list-style: 30px;
    width:auto;
    font-family: 'Fredoka One', cursive;
}