<!-- <div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
      <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
      <img src="../assets/images/hot.jpg" *ngIf="weatherData.main.temp > 15">
      <img src="../assets/images/cold.jpg" *ngIf="weatherData.main.temp <= 15">
  
      <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0'}}°C</div>
      </div>
  </div>
  
  <div class="lower-data">
      <div class="more-info-label">
      More Information
      </div>
      <div class="more-info-container">
      <div class="info-block">
          <div class="info-block-label">
          <img src="../assets/images/min.png">
          <span>min</span>
          </div>
          <div class="info-block-value">
          {{weatherData.main.temp_min | number: '1.0-0'}}°C
          </div>
      </div>
  
      <div class="info-block">
          <div class="info-block-label">
          <img src="../assets/images/max.png">
          <span>max</span>
          </div>
          <div class="info-block-value">
          {{weatherData.main.temp_max | number: '1.0-0'}}°C
          </div>
      </div>
  
      <div class="info-block">
          <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
          </div>
          <div class="info-block-value">
          {{weatherData.main.humidity}}%
          </div>
      </div>
  
      <div class="info-block">
          <div class="info-block-label">
          <img src="../assets/images/wind.png">
          <span>wind</span>
          </div>
          <div class="info-block-value">
          {{weatherData.wind.speed}} km/h
          </div>
      </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>  -->

<video src="../assets/videos/video.mp4" autoplay loop muted ></video>
<div class="content">
  <div class="heading">
    <h2>Quick City Weather</h2>
    <h2>check up</h2>
  </div>
  <div class="center-wrapper">
    <div class="cityName">
      <h2>Pretoria</h2> 
    </div>
    <div class="search">
      search
    </div>
  </div>
<!-- 
  <div class="seacrh-wrapp">
    <div class="wrapp-one">
      <h2>location</h2>
    </div>

    <input type="text" class="in" placeholder="Search for a city" />
  </div> -->

  <div class="card">
    <div class="card-container">
      <div class="card-items">
        <div class="head">
          <h3>Max temp</h3>
        </div>
        <div class="image">
          <img
            style="width: 63px; height: 64px; left: 139px; top: 531px"
            src="../assets/images/max.png"
            alt="max-temp"
          />      
        </div>
        <div class="temp"><h4>20 C</h4></div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-items">
        <div class="head">
          <h3>Min temp</h3>
        </div>
        <div class="image">
          <img
            style="width: 63px; height: 64px; left: 139px; top: 531px"
            src="../assets/images/min.png"
            alt="max-temp"
          />
        </div>
        <div class="temp"><h4>20 C</h4></div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-items">
        <div class="head">
          <h3>Humidity</h3>
        </div>
        <div class="image">
          <img
            style="width: 63px; height: 64px; left: 139px; top: 531px"
            src="../assets/images/max.png"
            alt="max-temp"
          />
        </div>
        <div class="temp"><h4>20 C</h4></div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-items">
        <div class="head">
          <h3>Wind</h3>
        </div>
        <div class="image">
          <img
            style="width: 63px; height: 64px; left: 139px; top: 531px"
            src="../assets/images/max.png"
            alt="max-temp"
          />
        </div>
        <div class="temp"><h4>20 km/h</h4></div>
      </div>
    </div>
   
   
  </div>

  <div class="footer">Made with ❤️ by lifeKhomola</div>
</div>
